In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
data = np.random.randint(0, 100, size=[500, 100])
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,44,47,64,67,67,9,83,21,36,87,...,78,15,20,99,58,23,79,13,85,48
1,49,69,41,35,64,95,69,94,0,50,...,21,25,80,60,61,83,33,32,70,85
2,31,13,71,56,24,79,41,18,40,54,...,36,48,25,67,35,30,29,33,18,17
3,93,84,2,69,12,44,66,91,85,39,...,74,52,49,91,51,99,18,34,51,30
4,53,58,43,55,18,45,87,65,70,53,...,18,74,98,97,43,3,12,58,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,49,13,87,64,46,75,2,47,86,66,...,47,61,11,80,42,17,0,52,34,61
496,63,58,53,91,44,96,30,16,25,29,...,59,11,93,98,25,51,50,43,33,53
497,21,67,90,56,0,30,1,6,65,74,...,87,21,98,35,8,23,46,94,63,56
498,75,15,43,19,67,27,69,79,92,72,...,85,45,35,68,13,51,3,60,18,53
499,38,5,60,60,54,3,48,64,0,55,...,59,45,68,63,48,52,28,97,89,43

In [3]:
pd.options.display.max_rows = 30

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,44,47,64,67,67,9,83,21,36,87,...,78,15,20,99,58,23,79,13,85,48
1,49,69,41,35,64,95,69,94,0,50,...,21,25,80,60,61,83,33,32,70,85
2,31,13,71,56,24,79,41,18,40,54,...,36,48,25,67,35,30,29,33,18,17
3,93,84,2,69,12,44,66,91,85,39,...,74,52,49,91,51,99,18,34,51,30
4,53,58,43,55,18,45,87,65,70,53,...,18,74,98,97,43,3,12,58,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,49,13,87,64,46,75,2,47,86,66,...,47,61,11,80,42,17,0,52,34,61
496,63,58,53,91,44,96,30,16,25,29,...,59,11,93,98,25,51,50,43,33,53
497,21,67,90,56,0,30,1,6,65,74,...,87,21,98,35,8,23,46,94,63,56
498,75,15,43,19,67,27,69,79,92,72,...,85,45,35,68,13,51,3,60,18,53
499,38,5,60,60,54,3,48,64,0,55,...,59,45,68,63,48,52,28,97,89,43

In [5]:
pd.options.display.max_columns = 6

In [6]:
df

     0   1   2   ...  97  98  99
0    44  47  64  ...  13  85  48
1    49  69  41  ...  32  70  85
2    31  13  71  ...  33  18  17
3    93  84   2  ...  34  51  30
4    53  58  43  ...  58   1   0
..   ..  ..  ..  ...  ..  ..  ..
495  49  13  87  ...  52  34  61
496  63  58  53  ...  43  33  53
497  21  67  90  ...  94  63  56
498  75  15  43  ...  60  18  53
499  38   5  60  ...  97  89  43

[500 rows x 100 columns]

In [7]:
pd.get_option("display.max_rows")

30

In [8]:
pd.set_option("display.max_rows", 12)

In [9]:
df

     0   1   2   ...  97  98  99
0    44  47  64  ...  13  85  48
1    49  69  41  ...  32  70  85
2    31  13  71  ...  33  18  17
3    93  84   2  ...  34  51  30
4    53  58  43  ...  58   1   0
..   ..  ..  ..  ...  ..  ..  ..
495  49  13  87  ...  52  34  61
496  63  58  53  ...  43  33  53
497  21  67  90  ...  94  63  56
498  75  15  43  ...  60  18  53
499  38   5  60  ...  97  89  43

[500 rows x 100 columns]

In [10]:
pd.get_option("display.max_columns")

6