In [2]:
import pandas as pd
df = pd.read_csv("../data/bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
df.sort_index(inplace=True)
df.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [4]:
df.index.set_names(names=["Day", "Location"], inplace=True)
df

                          Price in US Dollars
Day        Location
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]