In [1]:
import pandas as pd
df = pd.read_csv("../data/bigmac.csv", parse_dates=["Date"], index_col=["Date", "Country"])
df.sort_index(inplace=True)
df.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [9]:
df.loc[("2010-01-01")]

                Price in US Dollars
Country
Argentina                      1.84
Australia                      3.98
Brazil                         4.76
Britain                        3.67
Canada                         3.97
Chile                          3.18
China                          1.83
Colombia                       3.91
Costa Rica                     3.52
Czech Republic                 3.71
Denmark                        5.99
Egypt                          2.38
Euro area                      4.84
Hong Kong                      1.91
Hungary                        3.86
Indonesia                      2.24
Israel                         3.99
Japan                          3.50
Latvia                         3.09
Lithuania                      2.87
Malaysia                       2.08
Mexico                         2.50
New Zealand                    3.61
Norway                         7.02
Pakistan                       2.42
Peru                           2.81
Philippines                    2.21
Poland                         2.86
Russia                         2.34
Saudi Arabia                   2.67
Singapore                      3.19
South Africa                   2.46
South Korea                    2.98
Sri Lanka                      1.83
Sweden                         5.51
Switzerland                    6.30
Taiwan                         2.36
Thailand                       2.11
Turkey                         3.83
UAE                            2.99
Ukraine                        1.83
United States                  3.58
Uruguay                        3.32

In [10]:
df.loc[("2010-01-01", "Brazil")]

Price in US Dollars    4.76
Name: (2010-01-01 00:00:00, Brazil), dtype: float64

In [12]:
df.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

4.76