In [2]:
import pandas as pd
df = pd.read_csv("../data/fortune1000.csv", index_col="Rank")
sectors = df.groupby(by=["Sector", "Industry"])
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [7]:
sectors.size().head(20)

Sector                      Industry
Aerospace & Defense         Aerospace and Defense               20
Apparel                     Apparel                             15
Business Services           Advertising, marketing               2
                            Diversified Outsourcing Services    14
                            Education                            3
                            Financial Data Services             19
                            Miscellaneous                        3
                            Temporary Help                       5
                            Waste Management                     5
Chemicals                   Chemicals                           30
Energy                      Energy                              14
                            Mining, Crude-Oil Production        28
                            Miscellaneous                        1
                            Oil and Gas Equipment, Services      9
                            Petroleum Refining                  17
                            Pipelines                           12
                            Utilities: Gas and Electric         41
Engineering & Construction  Engineering, Construction           14
                            Homebuilders                        12
Financials                  Commercial Banks                    28
dtype: int64

In [17]:
sectors.indices

{('Aerospace & Defense',
  'Aerospace and Defense'): array([ 23,  44,  59,  87, 117, 119, 208, 244, 281, 377, 388, 489, 559,
        604, 784, 787, 835, 902, 957, 986]),
 ('Apparel',
  'Apparel'): array([ 90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876,
        881, 916]),
 ('Business Services', 'Advertising, marketing'): array([185, 354]),
 ('Business Services',
  'Diversified Outsourcing Services'): array([198, 247, 484, 544, 625, 634, 713, 728, 743, 782, 802, 815, 818,
        868]),
 ('Business Services', 'Education'): array([736, 819, 992]),
 ('Business Services',
  'Financial Data Services'): array([203, 248, 293, 306, 391, 403, 467, 480, 491, 651, 693, 766, 775,
        776, 791, 795, 800, 885, 951]),
 ('Business Services', 'Miscellaneous'): array([439, 733, 869]),
 ('Business Services', 'Temporary Help'): array([143, 466, 502, 790, 950]),
 ('Business Services', 'Waste Management'): array([220, 311, 676, 734, 938]),
 ('Chemicals',
  'Chemicals'): array([ 55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548,
        554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828,
        864, 897, 933, 948]),
 ('Energy',
  'Energy'): array([192, 363, 383, 401, 474, 557, 605, 632, 741, 783, 801, 809, 878,
        961]),
 ('Energy',
  'Mining, Crude-Oil Production'): array([ 89, 174, 215, 222, 224, 321, 323, 348, 387, 437, 457, 521, 597,
        661, 702, 703, 705, 742, 753, 797, 825, 859, 861, 900, 954, 965,
        980, 994]),
 ('Energy', 'Miscellaneous'): array([695]),
 ('Energy',
  'Oil and Gas Equipment, Services'): array([116, 177, 191, 318, 409, 540, 691, 714, 771]),
 ('Energy',
  'Petroleum Refining'): array([  1,  13,  29,  31,  41,  97, 213, 216, 288, 393, 444, 568, 570,
        731, 849, 952, 982]),
 ('Energy',
  'Pipelines'): array([ 64, 103, 120, 197, 347, 386, 492, 655, 858, 907, 923, 947]),
 ('Energy',
  'Utilities: Gas and Electric'): array([ 94, 114, 161, 162, 164, 165, 187, 189, 228, 242, 245, 246, 256,
        271, 273, 278, 342, 349, 362, 402, 424, 436, 482, 506, 547, 555,
        578, 599, 649, 678, 710, 744, 816, 842, 850, 852, 854, 920, 979,
        996, 997]),
 ('Engineering & Construction',
  'Engineering, Construction'): array([154, 155, 234, 313, 351, 380, 477, 500, 515, 571, 873, 891, 962,
        984]),
 ('Engineering & Construction',
  'Homebuilders'): array([259, 300, 432, 497, 575, 639, 718, 737, 821, 862, 928, 993]),
 ('Financials',
  'Commercial Banks'): array([ 22,  25,  26,  28,  73,  77, 111, 130, 170, 178, 263, 272, 282,
        328, 375, 452, 453, 485, 509, 519, 539, 602, 697, 764, 915, 937,
        975, 995]),
 ('Financials',
  'Diversified Financials'): array([ 15,  42,  82,  84, 183, 221, 231, 251, 297, 470, 493, 535, 711,
        879, 922]),
 ('Financials',
  'Insurance: Life, Health (Mutual)'): array([ 60,  75,  81,  99, 225, 317, 478, 843, 851, 924]),
 ('Financials',
  'Insurance: Life, Health (stock)'): array([ 39,  49, 134, 204, 235, 264, 270, 305, 325, 366, 550, 589, 610,
        700, 722, 749, 896, 925]),
 ('Financials',
  'Insurance: Property and Casualty (Mutual)'): array([ 34,  68, 226, 397, 645, 754, 909]),
 ('Financials',
  'Insurance: Property and Casualty (Stock)'): array([  3,  48,  72,  80, 104, 113, 136, 151, 209, 274, 310, 331, 367,
        410, 420, 441, 475, 496, 498, 505, 508, 530, 560, 727, 837, 877,
        935, 958]),
 ('Financials',
  'Real estate'): array([258, 435, 448, 471, 472, 487, 608, 650, 780, 827, 832, 845, 860,
        919, 987]),
 ('Financials',
  'Securities'): array([249, 343, 346, 381, 400, 481, 528, 567, 572, 662, 670, 679, 709,
        729, 767, 838, 847, 871]),
 ('Food and Drug Stores',
  'Food and Drug Stores'): array([  6,  16,  18,  86, 106, 159, 180, 594, 613, 630, 668, 755, 808,
        848, 927]),
 ('Food, Beverages & Tobacco',
  'Beverages'): array([ 61, 396, 412, 428, 541, 635, 701, 786, 888]),
 ('Food, Beverages & Tobacco',
  'Food Consumer Products'): array([ 43,  93, 152, 160, 175, 206, 214, 303, 335, 336, 361, 451, 534,
        566, 586, 607, 614, 685, 794, 803]),
 ('Food, Beverages & Tobacco',
  'Food Production'): array([ 40,  65,  83, 241, 455, 459, 573, 663, 769]),
 ('Food, Beverages & Tobacco', 'Tobacco'): array([105, 148, 265, 901, 953]),
 ('Health Care',
  'Health Care: Insurance and Managed Care'): array([  5,  32,  45,  51,  78, 123, 171, 200, 201, 536, 748]),
 ('Health Care',
  'Health Care: Medical Facilities'): array([ 62, 124, 139, 199, 289, 371, 429, 456, 514, 617, 692, 696, 765,
        934]),
 ('Health Care',
  'Health Care: Pharmacy and Other Services'): array([ 21, 324, 357, 446, 468, 552, 628, 745, 774, 880, 882, 959, 977]),
 ('Health Care',
  'Medical Products and Equipment'): array([137, 277, 285, 286, 358, 430, 464, 660, 707, 789, 798, 817, 844,
        867, 964, 976]),
 ('Health Care',
  'Pharmaceuticals'): array([ 38,  54,  71,  85, 122, 129, 140, 167, 262, 304, 419, 526, 582,
        683, 814]),
 ('Health Care',
  'Wholesalers: Health Care'): array([  4,  11,  20, 267, 290, 558]),
 ('Hotels, Resturants & Leisure',
  'Food Services'): array([108, 145, 217, 370, 545, 556, 730, 762, 796, 914, 940, 998]),
 ('Hotels, Resturants & Leisure',
  'Hotels, Casinos, Resorts'): array([194, 240, 253, 308, 443, 465, 533, 561, 584, 763, 778, 894, 917]),
 ('Household Products',
  'Home Equipment, Furnishings'): array([255, 327, 337, 344, 433, 532, 600, 698, 715, 889, 931, 966]),
 ('Household Products',
  'Household and Personal Products'): array([ 33, 150, 173, 260, 369, 440, 454, 553, 664, 855, 899, 906, 991]),
 ('Household Products', 'Miscellaneous'): array([449, 549, 949]),
 ('Industrials',
  'Construction and Farm Machinery'): array([ 58,  96, 147, 359, 395, 657, 689, 812, 865]),
 ('Industrials',
  'Electronics, Electrical Equip.'): array([ 74, 127, 133, 411, 418, 543, 622, 644, 665, 788, 830, 840, 886]),
 ('Industrials',
  'Industrial Machinery'): array([ 10, 210, 223, 376, 538, 595, 621, 629, 654, 673, 756, 781, 805,
        822, 831, 834, 846, 866, 872, 941, 946, 963, 999]),
 ('Industrials', 'Miscellaneous'): array([92]),
 ('Materials',
  'Building Materials, Glass'): array([479, 615, 636, 638, 640, 659, 856]),
 ('Materials', 'Forest and Paper Products'): array([372, 488, 624, 750, 792]),
 ('Materials',
  'Metals'): array([125, 169, 243, 302, 355, 382, 416, 619, 666, 686, 690, 910, 981,
        985]),
 ('Materials', 'Miscellaneous'): array([425]),
 ('Materials',
  'Packaging, Containers'): array([126, 250, 320, 340, 374, 417, 434, 445, 513, 517, 576, 585, 616,
        627, 773, 884]),
 ('Media',
  'Entertainment'): array([ 52,  95,  98, 202, 212, 365, 405, 413, 524, 680, 704, 721, 740,
        758, 761, 820, 912, 968]),
 ('Media', 'Publishing, Printing'): array([254, 326, 529, 706, 751, 967, 988]),
 ('Motor Vehicles & Parts',
  'Motor Vehicles and Parts'): array([  7,   8,  69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469,
        587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978]),
 ('Retailing',
  'Automotive Retailing, Services'): array([135, 142, 190, 266, 268, 296, 329, 345, 392, 510]),
 ('Retailing',
  'General Merchandisers'): array([  0,  37, 102, 110, 138, 144, 196, 227, 379, 772]),
 ('Retailing',
  'Specialty Retailers: Apparel'): array([ 88, 176, 233, 236, 360, 499, 501, 522, 642, 643, 647, 656, 720,
        806, 811, 823, 839, 875]),
 ('Retailing',
  'Specialty Retailers: Other'): array([ 14,  27,  46,  70, 131, 179, 195, 237, 239, 257, 279, 292, 298,
        301, 341, 364, 373, 378, 414, 426, 438, 494, 511, 516, 581, 591,
        601, 606, 609, 620, 674, 688, 747, 770, 824, 826, 893, 898, 921,
        936, 939, 972]),
 ('Technology', 'Computer Peripherals'): array([112, 193, 421, 637]),
 ('Technology',
  'Computer Software'): array([ 24,  76, 385, 399, 523, 531, 542, 551, 562, 833, 841, 908, 918,
        983]),
 ('Technology',
  'Computers, Office Equipment'): array([  2,  19, 408, 633, 777, 970, 974]),
 ('Technology',
  'Information Technology Services'): array([ 30, 149, 219, 229, 232, 486, 503, 564, 672, 724, 926, 942, 945]),
 ('Technology',
  'Internet Services and Retailing'): array([ 17,  35, 156, 283, 299, 307, 384, 512, 681, 687, 732, 735, 905,
        913, 969]),
 ('Technology',
  'Network and Other Communications Equipment'): array([ 53, 109, 312, 450, 461, 504, 518, 583, 611, 675, 699, 853, 903,
        989]),
 ('Technology',
  'Scientific,Photographic and Control Equipment'): array([132, 163, 588, 593, 631, 759, 863, 892, 895, 904, 911, 955]),
 ('Technology',
  'Semiconductors and Other Electronic Components'): array([ 50, 157, 172, 218, 294, 330, 407, 463, 490, 507, 592, 648, 658,
        677, 752, 768, 804, 829, 870, 887, 890, 930, 943]),
 ('Telecommunications',
  'Telecommunications'): array([  9,  12,  36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525,
        618, 785]),
 ('Transportation',
  'Airlines'): array([ 66,  67,  79, 141, 404, 458, 708, 883, 932]),
 ('Transportation', 'Mail, Package, and Freight Delivery'): array([47, 57]),
 ('Transportation', 'Miscellaneous'): array([929]),
 ('Transportation', 'Railroads'): array([128, 238, 269, 857, 971]),
 ('Transportation',
  'Transportation Equipment'): array([406, 431, 527, 577, 813]),
 ('Transportation',
  'Transportation and Logistics'): array([207, 352, 389, 641, 973]),
 ('Transportation',
  'Trucking, Truck Leasing'): array([394, 415, 520, 569, 671, 712, 739, 799, 944]),
 ('Wholesalers', 'Miscellaneous'): array([314]),
 ('Wholesalers',
  'Wholesalers: Diversified'): array([ 91, 166, 182, 275, 284, 319, 322, 356, 368, 390, 422, 462, 483,
        563, 580, 598, 626, 652, 726, 746, 779, 807, 836, 874, 990]),
 ('Wholesalers',
  'Wholesalers: Electronics and Office Equipment'): array([ 63, 101, 107, 118, 211, 473, 476, 684]),
 ('Wholesalers',
  'Wholesalers: Food and Grocery'): array([ 56, 121, 184, 316, 334, 350])}

In [21]:
sectors.get_group(("Energy", "Pipelines"))

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
65,Energy Transfer Equity,Energy,Pipelines,"Dallas, TX",42126,1189,30078
104,Enterprise Products Partners,Energy,Pipelines,"Houston, TX",27028,2521,6800
121,Plains GP Holdings,Energy,Pipelines,"Houston, TX",23152,118,5400
198,Kinder Morgan,Energy,Pipelines,"Houston, TX",14403,253,11290
348,Oneok,Energy,Pipelines,"Tulsa, OK",7763,245,2364
387,Targa Resources,Energy,Pipelines,"Houston, TX",6659,58,1870
493,Spectra Energy,Energy,Pipelines,"Houston, TX",5234,196,6250
656,Buckeye Partners,Energy,Pipelines,"Houston, TX",3453,437,1765
859,Enable Midstream Partners,Energy,Pipelines,"Oklahoma City, OK",2418,-752,1640
908,Genesis Energy,Energy,Pipelines,"Houston, TX",2247,423,1400
924,Magellan Midstream Partners,Energy,Pipelines,"Tulsa, OK",2189,819,1640
948,NuStar Energy,Energy,Pipelines,"San Antonio, TX",2084,307,1644

In [22]:
sectors.get_group(("Energy", "Pipelines"))["Profits"].sum()

5814

In [24]:
sectors.sum(numeric_only=True).loc[(("Energy", "Pipelines")), "Profits"]

5814

In [27]:
df.query("Sector == 'Energy' and Industry == 'Pipelines'")["Profits"].sum()

5814

In [9]:
sectors.sum(numeric_only=True)

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]